
body
{
    font-family: 'Russo One';
    background-color: black;
}

.Sottotitolo
{

font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.Titolo

{
    padding-top: 300px;
    padding-bottom: 1px;
font-style: normal;
font-weight: 400;
font-size: 78px;
line-height: 94px;

letter-spacing: 0.03em;

color: #FFFFFF;
}

